    .bg-key-correct { background-color: #700040; }
    .bg-key-present { background-color: #C9B458; }
    .bg-key-absent { background-color: #787C7E; }
    .bg-key-default { background-color: #E3E8EC; }
    .hover\:bg-key-hover:hover { background-color: #CBD5E1; }

    .border-key-correct { border-color: #700040; }
    .border-key-present { border-color: #C9B458; }
    .border-key-absent { border-color: #787C7E; }

    @keyframes flip {
        0% { transform: rotateX(0); }
        50% { transform: rotateX(90deg); opacity: 0.8; }
        100% { transform: rotateX(0); }
    }
    .anim-flip {
        animation: flip 0.6s ease-in-out;
    }

    @keyframes shake {
        10%, 90% { transform: translate3d(-1px, 0, 0); }
        20%, 80% { transform: translate3d(2px, 0, 0); }
        30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
        40%, 60% { transform: translate3d(4px, 0, 0); }
    }
    .shake {
        animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    }